# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignore vscode options
.vscode

# Ignore Gradle build output directory
build/
bin/

#ignore .class files
*.class